

body{
  height: 100%;
  margin: 0;
  padding-bottom: 11vh;
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: 	#F8F9FB;
}

.header{
  background-color:white;
  display: flex;
  height: 150px;
}

.logo img {
  width: 40%;
  height: auto;
}

nav{
 margin-top: 60px ;
 text-decoration: none 
}
.a{
  text-decoration: none;
  color: black;
}

.nav-item{
font-size: 30px;
display: inline;
font-size: 25px;
margin-right: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
 }
  .mainpage{
    display: flex;
    justify-content: left;
  }

  .logo2 img{
    width: 50%;
    height: auto;
    justify-items: end;
    margin-top: 10%;
    margin-right: 10%;
    position: fixed;
    text-align: justify;
  }
.aboutus{
    width: 70%;
    height: auto;
    justify-items: left;
    margin-top: 20px;
    text-align: center;
    padding-left: 0;
    position: inherit;
}
#map{
  height: 450px;
  width: 450px;
  margin-left: 750px;
  margin-top: 20px;
}